body {
    font-family: "Courier New", Monaco, Monospace;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.top{
    background-color: #1F2937;
    display: flex;
    flex-flow: column nowrap;
    padding: 50px 150px;
}
.t-one {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    color: #E5E7EB;
    gap: 2em;
    font-size: 18px;
}

button  {
    background-color: #3882f6;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
}

.cat {
   max-width: 40%;
   height: 60%;
}

.t-two {
    display: flex;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

img {
    width: 100%; 
    height: auto;
    object-fit: contain;
}

.s-one {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 50px;
}

.car, .climbing, .chocolate, .confetti {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
}

.third {
    background-color: #E5E7EB;
    padding: 50px 150px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}